<div class="columns">
  <div class="column">
    <div class="field">
      <input id="{{id}}" type="checkbox" name="{{name}}" class="switch is-outlined {{classes ? classes : ''}}" {{value ? 'checked' : ''}}>
      <label for="{{id}}">{{label || 'default label'}}</label>
    </div>
  </div>
</div>
