@layout('layouts/main')
@set('pageTitle', 'Student')
@set('currentPage', 'student')
@section('body')
  <div class="container">
    <form action="">
      <input type="file">
    </form>
  </div>
@end
