@layout('layouts/main')
@set('pageTitle', 'Home')
@section('body')
  <div class="columns is-centered">
    <div class="column">
      <p class="title is-2">Welcome to CCUS-CM</p>
      <p>Thank you for using our web software.</p>
      <p>God bless you!</p>
    </div>
  </div>
@include('partials/errors')
@end

@section('script')
@entryPointScripts('app')
@end
