<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>404</title>
  @entryPointStyles('app')
</head>
<body>
  <div class="container">
    <div class="columns">
      <div class="column">
        Well... I don't know to explain this. But I am sure we will figure it out.
      </div>
    </div>
  </div>
</body>
</html>
